@import "_reset.scss";
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

html, body {
    font-family: "Manrope";
}
body._lock {
    overflow: hidden; // запрет скроллинга сайта при открытом меню
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
[class*="__container"] {
    max-width: 1230px; //1200px по макету + padding
    margin: 0 auto;
    padding: 0 15px;

    /*
    // PC
    @media (max-width: px) { = по макету + отступы безопасности (они 30px)
        max-width: 970px;
    }
    // TABLET
    @media (max-width: 991.98px) {
        max-width: 750px;
    }
    // MOBILE
    @media (max-width: 767.98px) {
        max-width: none;
    }
    // LITTLE MOBILE
    @media (max-width: 479.98px) {   
    }
    */
}
.main {
    flex: 1 1 auto;
}

// =====================================================================================================================================================================
.header {
    // всё, что записано в .header, можно поменять, но скорее всего будет именно так    
    width: 100%;
    z-index: 10; 
    background-color: #fff;

	&__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
	}

	&__logo {        
        position: relative;
        z-index: 5;
        width: 97px;                
        animation: logo 0.5s linear 8s 1 normal backwards;             
        img {
            max-width: 100%;
        }
        @media (max-width: 1023.98px) {
            width: 67px;
        }        
	}

	&__menu {
	}

    &__button {
        @media (max-width: 859.98px) {
            display: none;
        }               
	}
	&__button-link {        
        border: 2px solid #87B670;
        border-radius: 9px;
        display: block;
        padding: 14px 35px;
        position: relative;
        top: 0;
        transition: all 0.2s ease 0s;
        span {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #3C3F34;
            transition: all 0.2s ease 0s;
        }        
        &:hover {
            background-color: #87B670;            
            span {
                color: #fff;
            }
        }
        &:active{            
            top: 4px;
        }
        @media (max-width: 1023.98px) {
            padding: 14px 14px;
        }
	}  
}
.menu {

	&__icon {
        display: none;
	}

	&__body {
	}

	&__list {
        & > li { // обращаемся к li первого уровня
            position: relative;
            margin: 0 0 0 50px; // задать по макету отступ от пункта меню, когда без бургера
            @media (max-width: 1199.98px) {
                margin: 0 0 0 30px;
            }
            @media (max-width: 1023.98px) {
                margin: 0 0 0 20px;
            }
        }
	}

	&__link {             
        font-weight: 500;
        font-size: 17px;
        line-height: 23px;
        color: #3C3F34;  
        padding: 0 5px;
        border-bottom: 2px solid transparent;            
        transition: all 0.15s ease 0s;

        &:hover {     
            border-bottom: 2px solid #87B670;            
        }   
	}    
}
// =====================================================================================================================================================================
@keyframes logo {
    0% {transform: rotate(0);}
    25% {transform: rotate(30deg);}
    50% {transform: rotate(0);}
    75% {transform: rotate(-30deg);}
    100% {transform: rotate(0);}
}
// =========================================================================================
@media (min-width: 767px) { // mobile-first. То есть всё, что написано в запросе - для экранов шире, чем 767px
    .menu {
        &__list {
            display: flex;
            align-items: center;

            & > li { // обращаемся к li первого уровня
                padding: 10px 0; // задать по макету
            }
        }
    }
}
@media (max-width: 767px) { // всё, что написано в запросе - для экранов уже, чем 767px
    .menu {
        &__icon { // рисуем иконку бургера/крестика. если надо изменить - это ниже            
            z-index: 5;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;

            &::before, &::after, & span {
                position: absolute;
                left: 0;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: #87B670;
            }
            &::before, &::after {
                content: '';
            }
            &::before {
                top: 0;   
            }
            &::after {
                bottom: 0;
            }
            & span {
                top: 50%;
                transform: scale(1) translate(0, -50%);
            }
            &._active {
                & span {                 
                    transform: scale(0);
                }
                &::before {
                    top: 50%;   
                    transform: rotate(-45deg) translate(0, -50%);
                }
                &::after {
                    bottom: 50%;   
                    transform: rotate(45deg) translate(0, 50%);
                }
            }
        }   // закончили рисовать иконку бургера/крестика
        &__line { // плашка в бургере           
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 80px; // столько же, сколько в .header__container в min-height
            background-color: #fff;
            z-index: 2;
        }  
        &__body {
            position: fixed;
            top: -100%; // если нужно изменить анимацию появления
            left: 0;
            width: 100%;
            height: 100%;            
            background-color: rgba(135, 182, 112, 0.9); // задать по макету
            padding: 100px 30px 30px 30px; // задать по макету
            transition: all 0.3s ease 0s;
            overflow: auto; // что бы появлялся скролл, при переполнении меню
           
            &._active {
                top: 0;
            }
        }
        &__list > li {
            margin: 0 0 30px 0; // задать по макету отступ от пунктов меню в выпадающем бургер-меню
            flex-wrap: wrap;
            text-align: center;

            &:last-child{
                margin-bottom: 0;
            }
            &._active {
                .menu {
                    &__sub-list {                        
                        display: block;            
                    }    
                }
            }
        }
        &__link {     
            font-size: 20px;
            color: #fff;                          
            letter-spacing: 1.5px;
        }        
    }    
}
// =====================================================================================================================================================================
.about {    

    &__container {        
        position: relative;
        &::before{
            content: url(../img/1about/circles.png);
            position: absolute;
            top: -80px;
            right: -50px; 
            z-index: -1;       
            animation: circles1 0.5s ease 1s 1 normal backwards;             
            @media (max-width: 1099px) {
                transform: scale(0.8);
                top: -80px;
                right: -200px;
                animation: circles2 0.5s ease 1s 1 normal backwards;         
            }
            @media (max-width: 767.98px) {
                right: 0;
                transform: scale(0.7) translate(70%, 0);
                animation: circles3 0s ease 0s 1 normal backwards;         
            }
        }
        &::after {
            content: url(../img/1about/flying-macbook.png);
            position: absolute;
            top: -80px;
            right: -105px;            
            z-index: -1;  
            animation: mac1 0.5s ease 2s 1 normal backwards;         
            @media (max-width: 1099px) {
                transform: scale(0.8);
                top: -132px;
                right: -250px;
                animation: mac2 0.5s ease 2s 1 normal backwards;         
            }
            @media (max-width: 767.98px) {
                display: none;
            }
        }                
    }

    &__title {        
        font-style: italic;
        font-weight: 600;
        font-size: 25px;
        line-height: 140%;        
        color: #87B670;
        padding: 136px 0 15px 0;
        @media (max-width: 1023.98px) {
            padding: 100px 0 15px 0;
        }
        @media (max-width: 767.98px) {
            padding: 60px 0 15px 0;
        }
        @media (max-width: 539.98px) {
            font-size: 21.5px;            
        }
        @media (max-width: 374.98px) {
            font-size: 18px;            
        }
    }

    &__subtitle {        
        font-weight: 500;
        font-size: 55px;
        line-height: 131%;
        color: #3C3F34;
        max-width: 684px;
        padding: 0 0 25px 0;
        @media (max-width: 1023.98px) {
            font-size: 40px;
            max-width: 600px;
        }
        @media (max-width: 539.98px) {
            font-size: 35px;            
            line-height: 120%;            
        }
        @media (max-width: 374.98px) {
            font-size: 30px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 140%;
        color: #3C3F34;
        max-width: 574px;
        padding: 0 0 35px 0;
        @media (max-width: 1023.98px) {        
            max-width: 480px;
        }
        @media (max-width: 539.98px) {            
            padding: 0 0 25px 0;
        }
    }

    &__button {
        padding: 0 0 105px 0;
        @media (max-width: 1099px) {
            padding: 0 0 65px 0;
        }
    }
}
// =====================================================================================================================================================================
@keyframes circles1 {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}
@keyframes circles2 {
    0% {transform: scale(0);}
    100% {transform: scale(0.8);}
}
@keyframes circles3 {
    0% {transform: scale(0);}
    100% {transform: scale(0.7);}
}
@keyframes mac1 {
    0% {right: -100vw;}
    100% {right: -105px;}
}
@keyframes mac2 {
    0% {right: -100vw;}
    100% {right: -230px;}
}
// =====================================================================================================================================================================

.button {
    &__link {        
        display: inline-block;
        padding: 16px 74px;
        background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
        box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
        border-radius: 9px;
        position: relative;
        top: 0;
        transition: all 0.2s ease 0s;

        span {            
            font-weight: 800;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }
        &:hover {
            box-shadow: 5px 10px 3px rgba(135, 182, 112, 0.3);
        }
        &:active {
            top: 3px;
            box-shadow: 5px 7px 3px rgba(135, 182, 112, 0.3);
        }
    }
}
// =====================================================================================================================================================================
.tools {
    background: url(../img/2tools/union.png) top 30px center / 100vw no-repeat;
    position: relative;    
    &::before {            
        content: url(../img/2tools/dotts.png);
        position: absolute;
        left: 0px;
        top: 0;
        @media (min-width: 1921px) {
            display: none;
        }
        @media (max-width: 1399.98px) {
            transform: scale(0.8);
            left: -14px;
        }     
        @media (max-width: 1023.98px) {
            display: none;
        }                      
    }
    &::after {
        content: url(../img/2tools/lines.png);
        position: absolute;
        right: 0px;
        bottom: 110px;
        @media (min-width: 1921px) {
            display: none;
        }      
        @media (max-width: 1399.98px) {
            transform: scale(0.8);
            right: -14px;
            bottom: 50px;
        }      
        @media (max-width: 1023.98px) {
            display: none;
        }                   
    }

    &__container {
    }

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 131%;
        text-align: center;
        color: #3C3F34;
        padding: 70px 0 87px 0;
        @media (max-width: 1023.98px) {
            padding: 60px 0;
        }
        @media (max-width: 767.98px) {
            font-size: 35px;
            padding: 50px 0;
        }
        @media (max-width: 474.98px) {
            font-size: 30px;
            padding: 50px 0 40px 0;
        }
    }

    &__rows {
        padding: 0 0 100px 0;
        @media (max-width: 1023.98px) {
            padding: 0 0 70px 0;
        }
        @media (max-width: 767.98px) {
            padding: 0 0 20px 0;
        }
    }

    &__row {
        &:first-child {
            padding: 0 0 70px 0;  
            @media (max-width: 767.98px) {
                padding: 0;
            }          
        }
    }

    &__items {
        display: flex;
        @media (max-width: 767.98px) {
            display: block;
        }
        &_one {
            justify-content: space-between;
        }
        &_two {
            justify-content: center;
        }
    }

    &__item {
        @media (max-width: 767.98px) {
            margin: 0 0 70px 0;
            display: flex;
            align-items: center;
        }
        @media (max-width: 499.98px) {
            margin: 0 0 20px 0;
        }

        &_one {            
            max-width: 338px; // по макету 238px, увеличил из-за padding
            padding: 0 50px;
            @media (max-width: 767.98px) {
                max-width: none;
                padding: 0;             
            }
        }
        &_two {            
            max-width: 445px; // по макету 335px, увеличил из-за padding
            padding: 0 55px;
            @media (max-width: 767.98px) {
                max-width: none;
                padding: 0;
            }
        }
    }

    &__item-image {
        text-align: center;
        position: relative;
        img {
            position: relative;
            z-index: 3;
            transform: rotate(0deg);
            transition: all 0.3s ease 0s;
            @media (max-width: 499.98px) {
                width: 50px;             
            }
            &:hover{
                transform: rotate(360deg);
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 87.55px;
            height: 87.55px;
            background-color: #FFFFFF;
            box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
            border-radius: 50%;
            z-index: 1;
            @media (max-width: 499.98px) {
                width: 60px;
                height: 60px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 103px;
            height: 103px;
            background-color: #FFFFFF;
            box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
            border-radius: 50%;            
            @media (max-width: 499.98px) {
                width: 70px;
                height: 70px;
            }
        }
        @media (max-width: 767.98px) {
            flex: 0 0 110px;
        }
        @media (max-width: 499.98px) {
            flex: 0 0 80px;         
        }
    }

    &__item-title {        
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        color: #3C3F34;
        padding: 40px 0 10px 0;
        @media (max-width: 767.98px) {
            padding: 0;
            flex: 0 0 180px;
        }
        @media (max-width: 499.98px) {
            flex: 0 0 100px;
            font-size: 18px;
        }
    }

    &__item-text {
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #3C3F34;
        @media (max-width: 767.98px) {
            margin: 0 auto;
        }
    }

    &__button {
        padding: 0 0 77px 0;  
        text-align: center;         
        a {
            text-align: center;
        }        
        @media (max-width: 1023.98px) {
            padding: 0 0 60px 0;   
        }          
    }
}
// =====================================================================================================================================================================
.problem {

    &__container {
        position: relative;
        &::before{
            content: url(../img/3problem/circles.png);
            position: absolute;
            top: 80px;
            left: -85px;
            z-index: -1; 
            @media (max-width: 1023.98px) {
                transform: scale(0.9);
            }
            @media (max-width: 767.98px) {
                display: none;
            }                   
        }
    }

    &__title {        
        font-weight: 500;
        font-size: 40px;
        line-height: 131%;
        text-align: center;        
        color: #3C3F34;
        padding: 63px 0 155px 0;
        @media (max-width: 1023.98px) {
            padding: 40px 0 130px 0;
        }
        @media (max-width: 767.98px) {
            padding: 30px 0;
            font-size: 34px;
        }
        @media (max-width: 474.98px) {                    
            font-size: 30px;
        }
    }

    &__row {
        display: flex;
        padding: 0 0 110px 0;
        @media (max-width: 1023.98px) {
            padding: 0 0 90px 0;
        }
        @media (max-width: 767.98px) {
            flex-direction: column;
            padding: 0 0 70px 0;
        }
        @media (max-width: 474.98px) {            
            padding: 0 0 50px 0;
        }
    }

    &__item {
        background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
        border-radius: 35px;
        flex: 0 0 33.33%;

        &.active {
            position: relative;
            z-index: 2;
            transform: scale(1.2);
            top: -28px;
            @media (max-width: 767.98px) {
                transform: scale(1);
                top: 0;
            }
        }
        &:first-child.active {
            position: relative;
            left: 28px;
            @media (max-width: 767.98px) {
                left: 0;
            }
        }
        &:last-child.active {
            position: relative;
            right: 28px;
            @media (max-width: 767.98px) {
                right: 0;
            }
        }
        &.inactive {
            cursor: pointer;
        }
        @media (max-width: 767.98px) {
            width: 400px;
            margin: 0 auto 20px auto;
        }
        @media (max-width: 474.98px) {            
            width: 280px;            
        }
    }

    &__item-image-outher {
        background: #FFFFFF;
        box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
        border-radius: 50%;
        width: 95px;
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 42px auto 20px auto;
        @media (max-width: 1023.98px) {
            width: 90px;
            height: 90px;
        }
    }

    &__item-image-inner {
        background: #FFFFFF;
        box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
        border-radius: 50%;
        width: 80.75px;
        height: 80.75px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1023.98px) {
            width: 75px;
            height: 75px;
        }
    }

    &__item-image-image {
        img {
            width: 40px;
            height: 40px;
            @media (max-width: 1023.98px) {
                width: 35px;
                height: 35px;
            }
        }
    }

    &__item-title {        
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        padding: 0 0 10px 0;
        @media (max-width: 1023.98px) {
            font-size: 18px;            
        }
    }

    &__item-text {        
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        padding: 0 0 42px 0;
        max-width: 290px;
        margin: 0 auto;
        @media (max-width: 1023.98px) {        
            font-size: 14px;
            max-width: 230px;
            padding: 0 0 30px 0;
        }        
    }
}
// =====================================================================================================================================================================
.mission {    

    &__container {
        position: relative;   
        &::before {
            content: url(../img/4mission/lines.png);
            position: absolute;
            top: 50%;
            left: -8.5%;
            transform: translate(0, -50%);
            z-index: -1; 
            @media (min-width: 1441px) {        
                display: none;
            }        
            @media (max-width: 767.98px) {        
                display: none;
            }
        }     
    }

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 131%;       
        text-align: center;
        color: #3C3F34;
        padding: 30px 0 72px 0;
        @media (max-width: 1023.98px) {        
            padding: 0 0 60px 0;
        } 
        @media (max-width: 767.98px) {        
            padding: 30px 0 40px 0;
            font-size: 34px;
        }
        @media (max-width: 474.98px) {                    
            font-size: 30px;
        } 
    }

    &__row1 {
        display: flex;
        margin: 0 0 80px 0;
        @media (max-width: 767.98px) {        
            display: block;
            margin: 0 0 40px 0;
        }
    }
    &__row2 {
        display: flex;
        padding: 0 0 20px 0;        
        @media (max-width: 767.98px) {        
            flex-direction: column;        
        }        
    }
}
// =====================================================================================================================================================================
.row1 { 
    background-color: #F7F8F3;
    border-radius: 35px;       

    &__content {
        padding: 0 70px;
        flex: 0 0 45%; 
        @media (max-width: 1023.98px) {        
            padding: 0 40px;
        } 
        @media (max-width: 474.98px) {        
            padding: 0 20px;
        }            
    }

    &__content-title {
        font-weight: 500;
        font-size: 30px;
        line-height: 131.1%;
        color: #3C3F34;
        padding: 104px 0 25px 0;
        @media (max-width: 1023.98px) {        
            padding: 70px 0 20px 0;
            font-size: 26px;
        }
        @media (max-width: 767.98px) {        
            padding: 50px 0 20px 0;
            text-align: center;
        }
        @media (max-width: 474.98px) {        
            padding: 30px 0 20px 0;
        }
    }

    &__content-text {        
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #3C3F34;
        padding: 0 0 30px 0;
        max-width: 394px;
        @media (max-width: 767.98px) {        
            text-align: center;
            max-width: none;
        }
        @media (max-width: 474.98px) {        
            font-size: 18px;
        }
    }

    &__content-button {
        padding: 0 0 100px 0;       
        a {
            padding: 14px 95px;
            @media (max-width: 1023.98px) {        
                padding: 14px 60px;
            }
        }
        @media (max-width: 1023.98px) {        
            padding: 0 0 60px 0;
        }
        @media (max-width: 767.98px) {        
            text-align: center;
        }
        @media (max-width: 474.98px) {        
            padding: 0 0 40px 0;
        }
    }

    &__image {
        flex: 0 1 55%;
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 118.3%;
            height: 100%;
            border-radius: 35px 0 0 35px; 
            @media (min-width: 1441px) {        
                border-radius: 35px; 
            }
            @media (max-width: 767.98px) {        
                border-radius: 35px;                 
                width: 100%;
                
            }
        }
        @media (max-width: 767.98px) {        
            height: 300px;
        }
        @media (max-width: 424.98px) {        
            height: 200px;
        }
    }
}
// =====================================================================================================================================================================
.row2 { 
    width: 100%;

    &__image {
        flex: 0 1 45%;
        position: relative;    
        background-color: #F7F8F3;         
        border-radius: 35px 0 0 35px;
        
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 118.3%;
            height: 100%;
            border-radius: 35px 0 0 35px;             
            @media (max-width: 767.98px) {        
                border-radius: 35px;                 
                width: 100%;                
            }
        }
        @media (max-width: 767.98px) {        
            flex: 0 1 300px;
            border-radius: 0 0 35px 35px; 
            order: 2;
        }
        @media (max-width: 424.98px) {        
            flex: 0 1 200px;
        }
    }

    &__content {
        background-color: #F7F8F3;
        border-radius: 35px 0 0 35px; 
        padding: 0 70px;
        flex: 0 0 55%; 
        position: relative;
        z-index: 2;        
        @media (max-width: 1023.98px) {        
            padding: 0 40px;
        }    
        @media (max-width: 767.98px) {        
            border-radius: 35px 35px 0 0; 
        }
        @media (max-width: 474.98px) {        
            padding: 0 20px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -120px;
            width: 120px;
            height: 100%;
            background-color: #F7F8F3;
            @media (min-width: 1441px) {        
                border-radius: 0 35px 35px 0; 
            }
            @media (max-width: 767.98px) {        
                display: none;
            }
        }         
    }

    &__content-title {
        font-weight: 500;
        font-size: 30px;
        line-height: 131.1%;
        color: #3C3F34;
        padding: 104px 0 25px 0;
        @media (max-width: 1023.98px) {        
            padding: 70px 0 20px 0;
            font-size: 26px;
        }
        @media (max-width: 767.98px) {        
            padding: 50px 0 20px 0;
            text-align: center;
        }
        @media (max-width: 474.98px) {        
            padding: 30px 0 20px 0;
        }
    }

    &__content-text {        
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #3C3F34;
        padding: 0 0 30px 0;
        max-width: 394px;
        @media (max-width: 767.98px) {        
            text-align: center;
            max-width: none;
        }
        @media (max-width: 474.98px) {        
            font-size: 18px;
        }
        
    }

    &__content-button {
        padding: 0 0 100px 0;       
        a {
            padding: 14px 95px;
            @media (max-width: 1023.98px) {        
                padding: 14px 60px;
            }
        }
        @media (max-width: 1023.98px) {        
            padding: 0 0 60px 0;
        }
        @media (max-width: 767.98px) {        
            text-align: center;
        }        
    }    
}
// =====================================================================================================================================================================
.comunity {
    background: url(../img/5comunity/dotts.png) bottom 70px right no-repeat, url(../img/5comunity/union.png) top center / 100vw no-repeat;
    @media (min-width: 1441px) {        
        background: url(../img/5comunity/union.png) top center / 100vw no-repeat;
    }   
    @media (max-width: 767.98px) {        
        background-color: #F7F8F3;
    } 
    @media (max-width: 624.98px) {        
        background: none;
        background-color: #F7F8F3;
    } 

    &__container {
    }

    &__row {
        padding: 130px 0 90px 0;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1023.98px) {        
            padding: 90px 0 70px 0;
        }
        @media (max-width: 767.98px) {        
            display: block;
            padding: 60px 0 30px 0;
        }
    }

    &__item {
        flex: 0 1 380px; // по макету 350px, добавил из-за паддинга
        padding: 0 15px;
        @media (max-width: 767.98px) {        
            max-width: 380px;
            margin-left: 10%;
            padding: 0 15px 40px 15px;
        }
        @media (max-width: 624.98px) {                    
            margin: 0 auto;            
        }
        @media (max-width: 424.98px) {        
            padding: 0 15px 20px 15px;
        }
    }

    &__image {
        position: relative;
        left: 0;
        transition: all 0.3s ease 0s;
        margin: 0 0 60px 0;
        &::before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 5px;
            background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
            border-radius: 100px;
        }
        @media (max-width: 767.98px) {        
            margin: 0 0 30px 0;
        }
        @media (max-width: 424.98px) {        
            margin: 0 0 20px 0;
        }        
    }

    &__number {        
        font-weight: 700;
        font-size: 40px;
        line-height: 131%;
        color: #3C3F34;
        padding: 0 0 25px 0;
        @media (max-width: 1023.98px) {        
            padding: 0 0 20px 0;
            font-size: 26px;
        }        
        @media (max-width: 474.98px) {        
            padding: 0 0 15px 0;
        }
    }

    &__text {        
        font-size: 20px;
        line-height: 140%;        
        color: #3C3F34;
        max-width: 240px; 
        @media (max-width: 474.98px) {        
            font-size: 18px;
        }       
    }

    &__button {
        text-align: center;
        padding: 0 0 150px 0;
        @media (max-width: 1199.98px) {        
            padding: 0 0 120px 0;
        }
        @media (max-width: 1023.98px) {        
            padding: 0 0 70px 0;
        }
        @media (max-width: 767.98px) {        
            padding: 0 0 40px 0;
        }
    }
}
// =====================================================================================================================================================================
.mission2 {    
    padding: 10px 0 0 0; 

    &__container {
        position: relative;   
        &::before {
            content: url(../img/4mission/lines.png);
            position: absolute;
            top: 50%;
            left: -8.5%;
            transform: translate(0, -50%);
            z-index: -1; 
            @media (min-width: 1441px) {        
                display: none;
            }        
            @media (max-width: 767.98px) {        
                display: none;
            }
        }     
    }

    &__row1 {
        display: flex;
        margin: 0 0 80px 0;
        @media (max-width: 767.98px) {        
            display: block;
            margin: 0 0 40px 0;
        }
        @media (max-width: 424.98px) {        
            display: block;
            margin: 0 0 30px 0;
        }
    }
    &__row2 {
        display: flex;
        padding: 0 0 20px 0;        
        @media (max-width: 767.98px) {        
            flex-direction: column;        
        }                       
    }    
    & .row2, & .row1 {
        &__image {     
            background-color: #AACA78;  
            @media (max-width: 767.98px) {        
                flex: 0 1 400px;
                height: 400px;
            }
            @media (max-width: 599.98px) {        
                flex: 0 1 300px;
                height: 300px;
            }                
            @media (max-width: 424.98px) {        
                flex: 0 1 200px;
                height: 200px;
            }                
        }
    
        &__content {
            background-color: #AACA78;       
            &::after {                                    
                background-color: #AACA78;       
            }
        
        }
        &__content-title {
            color: #fff;
        }
        &__content-text {
            color: #fff;
        }
        &__content-button {
            a {
                background: #fff;
                span {
                    color: #3C3F34;
                }                
            }
        }
    }
    & .row1__content {
        border-radius: 35px 0 0 35px;
        @media (max-width: 767.98px) {        
            border-radius: 35px 35px 0 0;
        } 
    }
    & .row1__image {        
        @media (max-width: 767.98px) {        
            border-radius: 0 0 35px 35px;
        } 
    }
}
// =====================================================================================================================================================================
.rewiews {

    &__container {
    }

    &__title {        
        font-weight: 500;
        font-size: 40px;
        line-height: 131%;
        text-align: center;
        color: #3C3F34;
        padding: 0 0 70px 0;
        @media (max-width: 1199.98px) {        
            font-size: 36px;
            padding: 0 0 50px 0;
        }
        @media (max-width: 1023.98px) {        
            font-size: 34px;
            padding: 0 0 40px 0;
        }
        @media (max-width: 767.98px) {        
            font-size: 32px;
            padding: 0 0 30px 0;
        }
        @media (max-width: 424.98px) {        
            font-size: 30px;            
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;        
        @media (max-width: 1199.98px) {        
            justify-content: space-evenly;
        }
        @media (max-width: 767.98px) {        
            display: block;
        }
    }

    &__item {        
        max-width: 370px;
        background-color: #F7F8F3;
        border-radius: 25px;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        @media (max-width: 1199.98px) {        
            max-width: 320px;
        }
        @media (max-width: 767.98px) {        
            margin: 0 auto 30px auto;  
            &:last-child {
                margin-right: auto;
            }          
        }
    }

    &__item-image {
        height: 138px;
        margin: 0 50px 30px 50px;  
        display: flex;
        justify-content: center;
        align-items: center;      
        border-bottom: 1px solid #D9D9D9;            
        img {
            max-width: 100%;
            transition: all 0.3s ease 0s;
            &:hover {
                transform: scale(1.05);
            }         
        }
        @media (max-width: 1023.98px) {                
            height: 100px;
            margin: 0 30px 30px 30px;  
        }
    }

    &__item-stars {        
        display: flex;
        justify-content: space-between;
        padding: 0 36px 40px 36px;        
        @media (max-width: 1023.98px) {                
            padding: 0 36px 30px 36px;
        }
        & .animation {            
            position: relative;
            &:after {
                content: "";
                height: 98%;                
                width: 25%;                
                left: -25%;                
                top: 0;                                
                opacity: 0;                
                position: absolute;                  
                background: linear-gradient(to right, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.13) 30%, rgba(255, 255, 255, 0.9) 100%);
                animation: 15s linear 0s infinite normal;                                     
            }  
            &_1 {&:after {animation-name: shine1;}}          
            &_2 {&:after {animation-name: shine2;}}          
            &_3 {&:after {animation-name: shine3;}}          
            &_4 {&:after {animation-name: shine4;}}          
            &_6 {&:after {animation-name: shine6;}}          
            &_7 {&:after {animation-name: shine7;}}          
            &_8 {&:after {animation-name: shine8;}}          
            &_9 {&:after {animation-name: shine9;}}          
            &_10 {&:after {animation-name: shine10;}}          
            &_11 {&:after {animation-name: shine11;}}          
            &_12 {&:after {animation-name: shine12;}}          
            &_13 {&:after {animation-name: shine13;}}          
            &_14 {&:after {animation-name: shine14;}}          
            &_15 {&:after {animation-name: shine15;}}                      
        }
    }
}
// =====================================================================================================================================================================
@keyframes shine1 {
    0% {left: -20%;opacity: 0;}
    7% {left: 85%;opacity: 1;}
    8%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine2 {
    7% {left: -20%;opacity: 0;}
    14% {left: 85%;opacity: 1;}
    15%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine3 {
    14% {left: -20%;opacity: 0;}
    21% {left: 85%;opacity: 1;}
    22%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine4 {
    21% {left: -20%;opacity: 0;}
    28% {left: 85%;opacity: 1;}
    29%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine6 {
    35% {left: -20%;opacity: 0;}
    42% {left: 85%;opacity: 1;}
    43%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine7 {
    42% {left: -20%;opacity: 0;}
    49% {left: 85%;opacity: 1;}
    50%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine8 {
    49% {left: -20%;opacity: 0;}
    56% {left: 85%;opacity: 1;}
    57%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine9 {
    56% {left: -20%;opacity: 0;}
    63% {left: 85%;opacity: 1;}
    64%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine10 {
    63% {left: -20%;opacity: 0;}
    70% {left: 85%;opacity: 1;}
    71%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine11 {
    70% {left: -20%;opacity: 0;}
    77% {left: 85%;opacity: 1;}
    78%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine12 {
    77% {left: -20%;opacity: 0;}
    84% {left: 85%;opacity: 1;}
    88%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine13 {
    84% {left: -20%;opacity: 0;}
    90% {left: 85%;opacity: 1;}
    91%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine14 {
    90% {left: -20%;opacity: 0;}
    95% {left: 85%;opacity: 1;}
    96%, 100% {left: 85%;opacity: 0;}    
}
@keyframes shine15 {
    94% {left: -20%;opacity: 0;}
    99% {left: 85%;opacity: 1;}
    100% {left: 85%;opacity: 0;}    
}
// =====================================================================================================================================================================
.faq {
    padding: 100px 0 40px 0;
    background: url(../img/8faq/union.png) top center / 100vw no-repeat;    
    @media (max-width: 767.98px) {                
        background: none;        
        padding: 60px 0 40px 0;
    }
    @media (max-width: 424.98px) {                        
        padding: 40px 0;
    }

    &__container {
        @media (max-width: 767.98px) {                         
            background-color: #F7F8F3;
        }            
    }

	&__spoilers {  
        padding: 0 0 30px 0;       
	}

}
// =====================================================================================================================================================================
.block {    

	&__item {  
        padding: 0 0 40px 0;
        border-bottom: 1px solid #D9D9D9;
        @media (max-width: 767.98px) {                
            padding: 0 0 30px 0;
        }              
	}

	&__title {
        width: 100%;         
        position: relative;        
        font-weight: 500;
        font-size: 30px;
        line-height: 131%;
        color: #3C3F34;
        background-color: transparent;
        text-align: left;        
        margin: 40px 0 0 0; 
        @media (max-width: 1023.98px) {                
            font-size: 28px;
        }       
        @media (max-width: 767.98px) {                
            font-size: 26px;
            margin: 30px 0 0 0;
        }
        @media (max-width: 767.98px) {                
            font-size: 24px;
         
        }

        .block._init & {
            cursor: pointer;            

            span {                
                width: 25px;
                height: 25px;                    
                position: absolute;
                right: 10px;
                top: 0;                            
                img {
                    max-width: 100%;
                    transform: rotate(135deg);
                    transition: transform 0.3s ease 0s;                    
                }                
            }            
            &._active span img {
                transform: rotate(0deg);
            }            
        }
        span {
            @media (max-width: 599.98px) {                
                display: none;
            }
        }
	}

	&__text {            
        font-size: 20px;
        line-height: 140%;
        color: #3C3F34;
        padding: 25px 30px 0 0;
        @media (max-width: 1023.98px) {                
            font-size: 18px;
        }        
        @media (max-width: 767.98px) {                
            font-size: 16px;
            padding: 20px 30px 0 0;
        }
        @media (max-width: 424.98px) {                
            font-size: 14px;            
        }
	}
}
// =====================================================================================================================================================================
.end {
    padding: 70px 0;
    @media (max-width: 1023.98px) {                
        padding: 60px 0;         
    }
    @media (max-width: 767.98px) {                
        padding: 50px 0;         
    }
    @media (max-width: 599.98px) {                
        padding: 20px 0 35px 0;         
    }    
    &__container {        
        position: relative;
        &::before {
            content: url(../img/9end/dotts.png);
            position: absolute;    
            top: -45px;
            left: -55px;
            @media (max-width: 767.98px) {                
                display: none;
            }
        }
        &::after {
            content: url(../img/9end/circles.png);
            position: absolute;
            right: -105px;
            top: 50%;
            transform: translate(0, -50%);
            @media (min-width: 1441px) {                
                display: none;
            }
            @media (max-width: 767.98px) {                            
                transform: translate(0, -50%) scale(0.8);
            }
            @media (max-width: 424.98px) {                            
                display: none;
            }
        }
    }

    &__area {
        position: relative;
        z-index: 2;        
        background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
        border-radius: 35px;
    }

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 131%;
        text-align: center;
        color: #FFFFFF;
        padding: 80px 0 25px 0;
        @media (max-width: 1023.98px) {                
            font-size: 36px;
            padding: 70px 0 20px 0;
        }
        @media (max-width: 767.98px) {                
            font-size: 34px;
            padding: 60px 0 20px 0;
        }
        @media (max-width: 599.98px) {                
            font-size: 30px;
            padding: 50px 0 20px 0;
            max-width: 350px;
            margin: 0 auto;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        padding: 0 0 35px 0;
        max-width: 574px;
        margin: 0 auto;
        @media (max-width: 1023.98px) {                            
            padding: 0 15px 30px 15px;
        }
        @media (max-width: 767.98px) {                
            font-size: 18px;            
        }
        @media (max-width: 599.98px) {                
            font-size: 16px;            
        }
    }

    &__button {
        padding: 0 0 90px 0;        
        text-align: center;

        a {
            background: #fff;
            span {
                color: #3C3F34;                
            }                
        }
        @media (max-width: 1023.98px) {                            
            padding: 0px 0 80px 0;
        }
        @media (max-width: 767.98px) {                            
            padding: 0px 0 70px 0;
        }
        @media (max-width: 599.98px) {                
            padding: 0 0 60px 0;
        }
    }
}
// =====================================================================================================================================================================
.footer {
    border-top: 1px solid #D9D9D9;

    &__container {
    }

    &__row {
        display: flex;
        justify-content: space-between;    
        align-items: center;
        padding: 10px 15px;            
    }

    &__logo {
        flex: 0 1 65px;
        img {
            max-width: 100%;
        }
    }

    &__copyright {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #3C3F34;
    }

    &__dispate {
        flex: 0 1 80px;
        img {
            max-width: 100%;
        }
    }
}
// =====================================================================================================================================================================
.back-to-top {
    position: fixed;
    bottom: 5px;
    right: 10vw;
    width: 40px;
    height: 40px;
    background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    opacity: 0.9;
    cursor: pointer;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;       

    &.js-show {
        display: flex;
    }

    &__wrapper {
    }

    &__span1 {
        position: relative;
        top: 0;
        transition: all 0.3s ease 0s;   
        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: -3px;
            width: 14.5px;
            height: 2px;
            background-color: #fff;
            transform: rotate(45deg);
        }
        &::after {
            content: '';
            position: absolute;
            top: -2px;
            left: -12px;
            width: 14.5px;
            height: 2px;
            background-color: #fff;
            transform: rotate(-45deg);
        }        
    }

    &__span2 {
        position: relative;
        opacity: 0;
        transition: all 0.3s ease 0s;   
        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: -3px;
            width: 14.5px;
            height: 2px;
            background-color: #fff;
            transform: rotate(45deg);
        }
        &::after {
            content: '';
            position: absolute;
            top: 3px;
            left: -12px;
            width: 14.5px;
            height: 2px;
            background-color: #fff;
            transform: rotate(-45deg);
        }        
    }
    &:hover {
        border-radius: 8px;
        .back-to-top__span1 {
            top: -4px;
        }
        .back-to-top__span2 {
            opacity: 1;
        }
    } 
}  
// =====================================================================================================================================================================
