@import "_nullstyle.scss"; // Файл обнуления стилей

html{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/*Стили для демонстрации*/
.wrapper {
}

/*Основные стили*/
body.lock { 
    overflow: hidden; // запрет скроллинга "под" менюшкой
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #5e5373;
        z-index: 2;        
    }

    &__body {
        position: relative;        
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
        
        @media (max-width:767px) { // для ширины ДО 767px
            height: 50px;
        }
    }

    &__logo {
        flex: 0 0 60px; //задаем размеры так,как как это элемент - флекс-элемент
        border-radius: 50%; 
        overflow: hidden; // в связке два этих свойства делают картинку круглой        
        position: relative;
        z-index: 3;

        @media (max-width:767px) { // для ширины ДО 767px
            flex: 0 0 40px;
        }

        & img {
            max-width: 100%; // что бы картинка подстраивалась под размер родителя, если вдруг картинка будет вставлена большая
            display: block; // в некоторых браузерах есть "подрезалово" картинок - а так мы его убираем
        }
    }

    &__burger {
        display: none;

        @media (max-width:767px) { // для ширины ДО 767px
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;

            &:before, &:after { // рисуем бургер
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                background-color: #fff;
                transition: all 0.3s ease 0s;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
            & span {
                position: absolute;
                background-color: #fff;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
        }

        &.active {            
            &:before {
                transform: rotate(45deg);
                top: 9px;              
            }
            &:after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            & span {
                transform: scale(0);
            }
        }
    }

    &__menu {

        @media (max-width:767px) { // для ширины ДО 767px
            position: fixed;
            width: 100%;
            height: 100%;
            top: -100%; // изначально так,что бы мень "выезжало вниз" при активации
            left: 0;
            background-color: #18b5a4;
            padding: 70px 10px 20px;
            transition: all 0.3s ease 0s;

            // для очень "низких" экранов, что бы можно было прокручивать само выпадшее меню
            overflow: auto;

            &.active{
                top: 0;                
            }            
        }
    }
   

    &__list {
        display: flex;
        position: relative;
        z-index: 2;

        & li {
            margin: 0 0 0 20px;

            @media (max-width:767px) { // для ширины ДО 767px
                margin: 0 0 20px 0;
            }
        }        

        @media (max-width:767px) { // для ширины ДО 767px
            display: block;
        }
    }

    &__link {
        color: white;
        text-transform: uppercase;
        font-size: 18px;

        @media (max-width:767px) { // для ширины ДО 767px
            font-size: 24px;
            line-height: 28px;
        }

    }
}

.content {
    padding: 80px 0 0 0;

    &__text {
        font-size: 18px;
        line-height: 25px;

        & p {
            margin: 0 0 20px 0;
        }
    }

    @media (max-width:767px) { // для ширины ДО 767px
        padding: 60px 0 0 0;
    }
}
