@import "_reset.scss";
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Cookie:regular);

html, body {
    font-family: 'Raleway';    
}
body._lock {
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
[class*="__container"] {
    max-width: 1100px; // по макету 1080px
    margin: 0 auto;
    padding: 0 15px;

    /*
    // PC
    @media (max-width: px) { = по макету + отступы безопасности (они 30px)
        max-width: 970px;
    }
    // TABLET
    @media (max-width: 991.98px) {
        max-width: 750px;
    }
    // MOBILE
    @media (max-width: 767.98px) {
        max-width: none;
    }
    // LITTLE MOBILE
    @media (max-width: 479.98px) {   
    }
    */
}
.main {
    flex: 1 1 auto;
}
// =====================================================================================================================================================================
.header {    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;     

	&__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100px; // задать по макету
	}

	&__logo {        
        position: relative;
        z-index: 5;
        span {            
            opacity: 0.8;         
            font-family: Cookie;
            font-size: 45px;
            line-height: 1.2;
            font-weight: 500;
            color: #ffffff;
        }        
	}

	&__menu {
	}
}
.menu {

	&__icon {
        display: none;
	}

	&__body {
	}

	&__list {
        & > li { // обращаемся к li первого уровня
            position: relative;
            margin: 0 0 0 30px; // задать по макету отступ от пункта меню, когда без бургера
        }
	}

	&__link {   
        opacity: 0.8;         
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #ffffff;  
        text-transform: uppercase; 
        transition: all 0.15s ease 0s;

        &:hover {                        
            color: #ad6c12;            
        }   
	}

    &__arrow {
        display: none;
    }

	&__sub-list {
        position: absolute;
        top: 100%; // задать позиционирование по макету
        right: 0;
        background-color: #000; // задать по макету                

        li {
            margin: 0 0 10px 0; // задать по макету отступ от пунктов подменю вниз

            &:last-child {
                margin: 0;
            }
        }
	}

	&__sub-link {
        color: #fff; // задать по макету
        
        &:hover {            
        }   
	}
}
// =========================================================================================
body._pc {
    .menu {
        &__list {
            & > li:hover {
                .menu__sub-list {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(0, 0);
                    pointer-events: all; // разрешение взаимодействия мышью с объектом
                }
            }
        }    
    }
}

body._touch {
    .menu {
        &__arrow {
            display: block; // здесь стрелка реализована в виде белого треугольника. если нужно по другому - переделать
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid #fff;
            transition: transform 0.3s ease 0s;
            margin: 0 0 0 5px;
        }

        &__list {
            & > li {
                display: flex;
                align-items: center;
                
                &._active {
                    .menu__sub-list {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(0, 0);
                        pointer-events: all; // разрешение взаимодействия мышью с объектом
                    }
                    .menu__arrow {
                        transform: rotate(-180deg);
                    }
                }
            }
        }

        &__link {
            flex: 1 1 auto;
        }
    }    
}
// =========================================================================================
@media (min-width: 767px) { // mobile-first. То есть всё, что написано в запросе - для экранов шире, чем 767px
    .menu {
        &__list {
            display: flex;
            align-items: center;

            & > li { // обращаемся к li первого уровня
                padding: 10px 0; // задать по макету
            }
        }    
        
        &__sub-list {
            transform: translate(0, 10%); // если нужно изменить анимированное появление подменю - это здесь
            opacity: 0; // невидимый
            visibility: hidden; // невидимый и неосязаемый
            pointer-events: none; // запрет взаимодействия мышью с объектом. здесь это надо, что бы недопустить повторного отлова подменю.
            transition: all 0.3s ease 0s;
        }
    }
}
@media (max-width: 767px) { // всё, что написано в запросе - для экранов уже, чем 767px
    .menu {
        &__icon { // рисуем иконку бургера/крестика. если надо изменить - это ниже            
            z-index: 5;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;

            &::before, &::after, & span {
                position: absolute;
                left: 0;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                opacity: 0.8;         
                background-color: #fff; // если иконки не видно - то может ты её на белом фоне рисуешь ???
            }
            &::before, &::after {
                content: '';
            }
            &::before {
                top: 0;   
            }
            &::after {
                bottom: 0;
            }
            & span {
                top: 50%;
                transform: scale(1) translate(0, -50%);
            }
            &._active {
                & span {                 
                    transform: scale(0);
                }
                &::before {
                    top: 50%;   
                    transform: rotate(-45deg) translate(0, -50%);
                }
                &::after {
                    bottom: 50%;   
                    transform: rotate(45deg) translate(0, 50%);
                }
            }
        }   // закончили рисовать иконку бургера/крестика
        &__line { // плашка в бургере           
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: 100px; // столько же, сколько в .header__container в min-height            
            z-index: 2;
        }  
        &__body {
            position: fixed;
            top: -100%; // если нужно изменить анимацию появления
            left: 0;
            width: 100%;
            height: 100%;            
            background-color: rgba(0, 0, 0, 0.9); // задать по макету
            padding: 100px 30px 30px 30px; // задать по макету
            transition: all 0.3s ease 0s;
            overflow: auto; // что бы появлялся скролл, при переполнении меню
           
            &._active {
                top: 0;
            }
        }
        &__list > li {
            margin: 0 0 30px 0; // задать по макету отступ от пунктов меню в выпадающем бургер-меню
            flex-wrap: wrap;
            text-align: center;          

            &:last-child{
                margin-bottom: 0;
            }
            &._active {
                .menu {
                    &__sub-list {                        
                        display: block;            
                    }    
                }
            }            
        }
        &__link {                 
        }
        &__sub-list {
            position: relative;            
            flex: 1 1 100%;
            margin: 20px 0 0 0; // задать по макету отступ выпадающего подменю внутри бургер-меню
            display: none;            
        }    
        &__sub-link {                   
            color: #fff;            
        }
    }    
}
// =====================================================================================================================================================================
.fullscreen {
    background: url(../img/2fullscreen/bg.png) center / cover no-repeat;
    width: 100vw;
    height: 100vh;

    &__container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__block {        
        background-color: rgba(255, 255, 255, 0.8);
        padding: 100px;
        border-radius: 15px;
        @media (max-width: 1279.98px) {
            padding: 70px;
        }     
        @media (max-width: 1023.98px) {
            padding: 50px;
        }        
        @media (max-width: 479.98px) {
            padding: 40px;
        }        
        @media (max-height: 414px) {
            padding: 20px 40px;
        }        
    }

    &__title {
        font-family: Cookie;
        font-size: 100px;        
        font-weight: 400;
        color: #2c3a42;
        text-align: center;
        @media (max-width: 1023.98px) {
            font-size: 80px;        
        }
        @media (max-width: 767.98px) {
            font-size: 60px;         
        }
    }

    &__subtitle {        
        font-size: 77px;        
        font-weight: 600;
        text-transform: uppercase;
        color: #ad6c12;
        padding: 0 0 20px 0;
        text-align: center;
        @media (max-width: 1023.98px) {
            font-size: 55px;
            padding: 0 0 10px 0;        
        }
        @media (max-width: 767.98px) {
            font-size: 45px;            
        }
    }
    &__button {        
        display: block;
        width: 270px;
        background-color: #ffffff;        
        padding: 10px 15px;   
        border-radius: 10px;     
        text-align: center;
        margin: 0 auto;
        cursor: pointer;  
        position: relative;
        top: 0;
        transition: all 0.2s ease 0s;
        @media (max-width: 1023.98px) {
            width: 230px;
            
        }

        &:hover {
            span {
                color: #ad6c12;  

            }
        }
        &:active {
            top: 5px;
        }
        span {        
            font-size: 38px;            
            font-weight: 600;
            color: #26363a;  
            text-transform: uppercase;         
            transition: all 0.2s ease 0s;
            @media (max-width: 1023.98px) {
                font-size: 30px;        
            }
        }
    }
}
// =====================================================================================================================================================================
.flavours {
    background-color: #2a3b40;

    &__container {
        display: flex;
        padding: 70px 15px 65px 15px;
        overflow: hidden;
        @media (max-width: 1023.98px) {
            max-width: 750px;
        }
        @media (max-width: 767.98px) {
            flex-direction: column;  
            padding: 50px 15px;
        }
    }

    &__content {
        flex: 0 1 50%;
        margin-right: 85px;
        @media (max-width: 1023.98px) {
            margin-right: 55px;
        }
        @media (max-width: 767.98px) {
            margin: 0 0 20px 0;
        }              
    }

    &__title {
        text-align: center;
        font-size: 29.2px;    
        font-weight: 700;
        color: #ffffff;
        padding: 60px 0 40px 0;
        @media (max-width: 1023.98px) {
            padding: 40px 0;
        }
        @media (max-width: 767.98px) {
            padding: 30px 0 20px 0;
        }
        @media (max-width: 479.98px) {
            font-size: 25px;
        }
    }

    &__text {        
        text-align: justify;
        font-size: 19px;
        line-height: 1.74;        
        font-weight: 400;
        color: #ffffff;
        @media (max-width: 479.98px) {
            font-size: 16px;            
        }
    }

    &__image {
        flex: 1 1 50%;        
        position: relative;
        min-height: 300px;
        
        img {            
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        @media (max-width: 767.98px) {            
        }
    }
}
// =====================================================================================================================================================================
.points {
    background-color: #d4d8d9;
    
    &__container {
    }

    &__row {   
        padding: 100px 0;     
        @media (max-width: 767.98px) {            
            padding: 80px 0;
        }
        @media (max-width: 479.98px) {            
            padding: 80px 0 60px 0;
        } 
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        @media (max-width: 767.98px) {            
            flex-direction: column;
        }
    }

    &__card {
        padding-right: 100px;
        &:last-of-type {
            padding-right: 0;
        }
        @media (max-width: 1023.98px) {            
            padding-right: 60px;
        }
        @media (max-width: 767.98px) {            
            padding-right: 0;
            padding-bottom: 30px;
            display: flex;
            align-items: center;    
        }
        @media (max-width: 499.98px) {            
            flex-direction: column;
            align-items: flex-start;          
        } 
    }

    &__points {
        margin: 0 20px 30px 0;        
        display: flex;
        @media (max-width: 767.98px) {            
            align-items: center;
            margin: 0 20px 0 0;
        }    
        
    }
    &__point {
        width: 31px;
        height: 31px;
        background-color: #2a3b40;
        border-radius: 50%;        
        margin-right: 5px;
    }

    &__title {        
        font-size: 19px;        
        font-weight: 800;
        color: #2a3b40;
        padding: 0 0 35px 0;
        @media (max-width: 767.98px) {            
            padding: 0;
            flex: 0 0 125px;
            line-height: 1.4;
        }
        @media (max-width: 499.98px) {            
            flex: 0 1 auto;
            padding: 15px 0;
        }         
    }

    &__text {        
        font-size: 16px;
        line-height: 1.6;
        font-weight: 500;
        color: #2a3b40;
        text-align: justify;        
    }
}
// =====================================================================================================================================================================
.plate {
    background: url(../img/5plate/bg.png) center / cover no-repeat;

    &__container {
        padding-top: 88px;
        padding-bottom: 88px;
        @media (max-width: 479.98px) {                        
            padding-top: 70px;
            padding-bottom: 70px;
        }
    }    

    &__center {        
        background-color: rgba(255, 255, 255, 0.8);
    }

    &__title {
        font-family: Cookie;
        font-size: 77px;
        font-weight: 400;
        color: #304751;
        text-align: center;
        padding: 50px 0 0 0;       
        @media (max-width: 767.98px) {            
            font-size: 60px;
            padding: 40px 0 0 0;
        }
        @media (max-width: 479.98px) {                        
            padding: 30px 0 0 0;
        }
    }

    &__subtitle {        
        font-size: 48px;        
        font-weight: 600;
        text-transform: uppercase;
        color: #ad6c12;
        text-align: center;
        padding: 0 0 50px 0;
        @media (max-width: 767.98px) {            
            font-size: 40px;
            padding: 0 0 40px 0;
        }
        @media (max-width: 479.98px) {                                    
            padding: 0 0 30px 0;
        }
    }

    &__grid {
        display: grid;        
        grid-template: auto / 1fr 1fr 1fr 1fr;
        grid-template-areas: "one two three for" "five six seven eight" "nine ten eleven twelve";        
    }
    @media (max-width: 639.98px) {            
        &__grid {
            grid-template: auto / 1fr 1fr 1fr;
            grid-template-areas: "one for six" "two three five" "eight ten   eleven" "seven nine twelve";
        }
        &__cell {
            &:nth-child(1) {
                grid-area: one;
            }
            &:nth-child(2) {
                grid-area: two;
            }
            &:nth-child(3) {
                grid-area: three;
            }
            &:nth-child(4) {
                grid-area: for;
            }
            &:nth-child(5) {
                grid-area: five;
            }
            &:nth-child(6) {
                grid-area: six;
            }
            &:nth-child(7) {
                grid-area: seven;
            }
            &:nth-child(8) {
                grid-area: eight;
            }
            &:nth-child(9) {
                grid-area: nine;
            }
            &:nth-child(10) {
                grid-area: ten;
            }
            &:nth-child(11) {
                grid-area: eleven;
            }
            &:nth-child(12) {
                grid-area: twelve;
            }
        }
    }
    @media (max-width: 479.98px) {
        &__grid {
            grid-template: auto / 1fr 1fr;
            grid-template-areas: "one two" "for three" "six five" "seven eight" "nine ten" "twelve eleven";
        }
        &__cell {
            &:nth-child(1) {
                grid-area: one;
            }
            &:nth-child(2) {
                grid-area: two;
            }
            &:nth-child(3) {
                grid-area: three;
            }
            &:nth-child(4) {
                grid-area: for;
            }
            &:nth-child(5) {
                grid-area: five;
            }
            &:nth-child(6) {
                grid-area: six;
            }
            &:nth-child(7) {
                grid-area: seven;
            }
            &:nth-child(8) {
                grid-area: eight;
            }
            &:nth-child(9) {
                grid-area: nine;
            }
            &:nth-child(10) {
                grid-area: ten;
            }
            &:nth-child(11) {
                grid-area: eleven;
            }
            &:nth-child(12) {
                grid-area: twelve;
            }
        }
    }
    &__cell {
        max-width: 267.5px;
        max-height: 267.5px; 
        
        &:nth-child(1) {
            grid-area: one;
        }
        &:nth-child(2) {
            grid-area: two;
        }
        &:nth-child(3) {
            grid-area: three;
        }
        &:nth-child(4) {
            grid-area: for;
        }
        &:nth-child(5) {
            grid-area: five;
        }
        &:nth-child(6) {
            grid-area: six;
        }
        &:nth-child(7) {
            grid-area: seven;
        }
        &:nth-child(8) {
            grid-area: eight;
        }
        &:nth-child(9) {
            grid-area: nine;
        }
        &:nth-child(10) {
            grid-area: ten;
        }
        &:nth-child(11) {
            grid-area: eleven;
        }
        &:nth-child(12) {
            grid-area: twelve;
        }          
        &_image {
            img {
                width: 100%;
                height: 100%;
            }
            
        }

        &_content {
            @media (max-width: 479.98px) {                        
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__cell-title {        
        font-size: 18px;        
        font-weight: 700;
        text-transform: uppercase;
        color: #304751;
        text-align: center;
        padding: 26% 0 10% 0;
        @media (max-width: 767.98px) {            
            font-size: 15px;
            padding: 20% 0 10% 0;           
        }
        @media (max-width: 479.98px) {                        
            padding: 0 0 5% 0;           
        }
    }

    &__cell-text {        
        font-size: 17px;
        line-height: 1.2;
        font-weight: 400;
        color: #304751;
        text-align: center;
        padding: 0 5px 8% 5px;
        max-width: 180px;
        margin: 0 auto;
        @media (max-width: 767.98px) {            
            font-size: 14px;
        }
        @media (max-width: 479.98px) {                        
            padding: 0 5px 5% 5px;
        }
    }

    &__cell-price {        
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #304751;
        text-align: center;
        @media (max-width: 767.98px) {            
            font-size: 14px;
            font-weight: 700;
        }        
    }
}
// =====================================================================================================================================================================
.cuisine {
    background-color: #d4d8d9;    
    position: relative;   
    height: 400px;
    @media (max-width: 767.98px) {
        height: auto;
    }
    
	&__image {
        position: absolute;
        top: 0;
        @media (max-width: 767.98px) {
            display: none;
        }
		&_left {
            left: 0;        
            @media (max-width: 1023.98px) {
                left: -100px;
            }            
		}
		&_right {
            right: 0;        
            @media (max-width: 1023.98px) {
                right: -100px;
            }
		}
	}
    
    

    &__container {        
    }

    &__slider {
        max-width: 750px;
        margin: 0 auto;                
        @media (max-width: 1199.98px) {            
            max-width: 550px;
        }        
        @media (max-width: 1023.98px) {            
            max-width: 500px;
        }
        @media (max-width: 767.98px) {            
            padding: 0 0 30px 0;
        }        
    }
}

.swiper-container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;        
}
.swiper-wrapper {
    width: 100%;
} 
.swiper-slide {    
}
.swiper-pagination {    
    & .swiper-pagination-bullet {
        width: 23px;
        height: 23px;
        background-color: #2a3b40;
        border-radius: 50%;
    }
}

.slide {

	&__title {        
        font-size: 29px;
        font-weight: 700;
        color: #2a3b40;
        text-align: center;
        padding: 90px 0 33px 0;
        @media (max-width: 767.98px) {
            padding: 50px 0 30px 0;
        }
        @media (max-width: 479.98px) {
            font-size: 25px;
        }
	}

	&__text {        
        font-size: 19px;
        line-height: 1.7;
        font-weight: 400;
        color: #2a3b40;
        text-align: center;
        padding: 0 0 80px 0;
        @media (max-width: 767.98px) {
            padding: 0 0 50px 0;
        }
        @media (max-width: 479.98px) {
            font-size: 16px;
        }
	}
}
// =====================================================================================================================================================================
.new-menu {
    background: url(../img/7new-menu/bg.png) top center / cover no-repeat;    
    padding-top: 238px;    
    @media (max-width: 1023.98px) {
        padding-top: 180px;        
    }
    @media (max-width: 767.98px) {
        padding-top: 120px;        
    }

    &__content {        
        background-color: rgba(255, 255, 255, 0.8);                                
    }

    &__container {        
    }    

    &__title {
        font-family: Cookie;
        font-size: 77px;
        font-weight: 400;
        color: #304751;
        text-align: center;
        padding: 40px 0 0 0;
        @media (max-width: 1023.98px) {
            padding: 25px 0 0 0;
        }
        @media (max-width: 599.98px) {
            font-size: 60px;
            padding: 15px 0 0 0;
        }
    }

    &__subtitle {        
        font-size: 48px;
        font-weight: 600;
        text-transform: uppercase;
        color: #ad6c12;
        text-align: center;
        padding: 0 0 40px 0;
        @media (max-width: 1023.98px) {
            padding: 0 0 25px 0;
        }
        @media (max-width: 599.98px) {
            font-size: 36px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        @media (max-width: 599.98px) {
            flex-direction: column;
        }
    }

    &__column {
        flex: 0 1 410px;
        &:first-child {
            margin-right: 20px;
        }
        @media (max-width: 599.98px) {
            flex: 0 1 auto;
        }
    }

    &__item {
        display: flex;
        padding: 0 0 50px 0;
        @media (max-width: 1023.98px) {
            padding: 0 0 40px 0;
        }       
        @media (max-width: 599.98px) {
            padding: 0 0 20px 0;
        } 
    }

    &__icon {
        flex: 0 0 80px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        background-color: #fff;
        border-radius: 50%; 
        img {            
            max-width: 80%;
        }
        @media (max-width: 1023.98px) {
            flex: 0 0 70px;
            width: 70px;
            height: 70px;
        }
        @media (max-width: 599.98px) {
            flex: 0 0 60px;
            width: 60px;
            height: 60px;
        } 
    }

    &__block {
    }

    &__block-title {        
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        color: #304751;
        padding: 0 0 18px 0; 
        @media (max-width: 1023.98px) {
            padding: 0 0 10px 0; 
        }       
        @media (max-width: 599.98px) {
            font-size: 18px;
        } 
    }

    &__block-text {        
        font-size: 17px;
        line-height: 1.2;
        font-weight: 400;
        color: #304751;
        span {
            font-weight: 700;
        }
        @media (max-width: 599.98px) {
            text-align: justify;
            font-size: 16px;
        } 
    }
}
// =====================================================================================================================================================================
.fixed-top {
    height: 80vh;
    background: url(../img/8fixed-top/bg.png) top center / cover no-repeat fixed;
}
// =====================================================================================================================================================================
.form {			
    background-color: #2a3b40;

    &__container {

    }
    &__title {
		font-family: Cookie;
        font-size: 77px;
        font-weight: 400;
        color: #ffffff;
        padding: 47px 0 35px 0;
        text-align: center;
        @media (max-width: 549.98px) {
            padding: 30px 0 20px 0;
        }
    }

    &__body {
		position: relative;        
        display: grid;
        grid-template: repeat(2, 100px) / repeat(3, 237px);
        justify-content: space-between;
        @media (max-width: 767.98px) {
            grid-template: repeat(3, 100px) / repeat(2, 237px);
            justify-content: space-around;
        }
        @media (max-width: 549.98px) {
            grid-template: repeat(6, 85px) / repeat(1, 237px);
            justify-content: space-around;
        }
    }

    &__item {
        margin: 0 0 44px 0;
        @media (max-width: 549.98px) {
            margin: 0 0 0 0;
        }         
    }

    &__label {		
        font-size: 17px;
        font-weight: 700;
        color: #ffffff;
        padding: 0 0 9px 0;
		display: block;		
    }

    &__input {
		width: 237px;
        height: 32px;
        border: 1.5px solid #ffffff;
        border-radius: 8px;       
        background-color: #2a3b40;
        padding: 10px;        
        
        font-size: 17px;
        line-height: 1.2;
        font-weight: 700;
        color: #ffffff;
        &::placeholder {
            font-size: 17px;
            line-height: 1.2;
            font-weight: 700;
            color: #ffffff;
            opacity: 0.8;
        }
        

		&:focus {
			box-shadow: 0 0 15px #7a956b ;
		}

		&._error {
			box-shadow: 0 0 15px red ;
		}
	}

    &__button {
		width: 237px;
        height: 32px;
        border: 1.5px solid #ffffff;
        border-radius: 8px;
        background-color: #2a3b40;  
        margin: 0 0 80px 0;        
        display: inline-block;
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);

		transition: all 0.3s ease 0s;
		cursor: pointer;
        @media (max-width: 549.98px) {
            margin: 20px 0 60px 0;
        }

        span {            
            font-size: 17px;            
            font-weight: 700;
            color: #ffffff;
            text-transform: uppercase;  
            transition: all 0.3s ease 0s;          
        }
		&:hover {
            background-color: #fff;        
            span {
                color: #2a3b40;
            }
		}
		&:active {
			top: 2px;
			box-shadow: 0px 3px 0px #161b13;
		}
	}
}
// =====================================================================================================================================================================
.fixed-bottom {
    height: 80vh;
    background: url(../img/10fixed-bottom/bg.png) top center / cover no-repeat fixed;
}
// =====================================================================================================================================================================
.articles {
    background-color: #d4d8d9;

    &__container {
    }

    &__title {
        font-family: Cookie;
        font-size: 77px;        
        font-weight: 400;
        color: #304751;
        text-align: center;
        padding: 40px 0 0 0;
        @media (max-width: 1023.98px) {
            padding: 30px 0 0 0;
            font-size: 75px;
        }    
        @media (max-width: 767.98px) {
            padding: 20px 0 0 0;
            font-size: 60px;
        }
        @media (max-width: 479.98px) {           
            padding: 15px 0 0 0; 
            font-size: 50px;
        }
    }

    &__subtitle {        
        font-size: 48px;
        font-weight: 600;
        text-transform: uppercase;
        color: #ad6c12;
        text-align: center;
        padding: 0 0 55px 0;
        @media (max-width: 1023.98px) {
            padding: 0 0 45px 0;
            font-size: 44px;
        }    
        @media (max-width: 767.98px) {
            padding: 0 0 35px 0;
            font-size: 40px;
        }
        @media (max-width: 479.98px) {           
            padding: 0 0 25px 0; 
            font-size: 35px;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;    
        padding: 0 0 100px 0;
        @media (max-width: 1023.98px) {
            padding: 0 0 80px 0;
        }    
        @media (max-width: 767.98px) {
            padding: 0 0 60px 0;
            flex-direction: column;
        }  
        @media (max-width: 479.98px) {           
            padding: 0 0 40px 0;
            display: block;      
        }  
    }

    &__card {
        background-color: #fff;    
        flex: 0 1 31.86%;
        @media (max-width: 767.98px) {
            flex: 0 1 200px;
            display: flex;
            margin: 0 0 20px 0;
        }
        @media (max-width: 479.98px) {           
            display: block;
        }
    }

    &__image {
        position: relative;
        width: 100%;
        padding: 0 0 88.8% 0;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        @media (max-width: 767.98px) {        
            padding: 0;
            flex: 0 1 50%;
        }
        @media (max-width: 479.98px) {           
            padding: 0 0 45% 0;            
        }
    }

    &__content {        
        padding: 0 15px;        
        display: flex;
        flex-direction: column;
        @media (max-width: 767.98px) {                
            flex: 0 1 50%;
        }
    }

    &__date {        
        flex: 0 0 64px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.075em;
        color: #555555;
        padding: 20px 0 10px 0;
    }

    &__text {        
        font-size: 17px;
        line-height: 1.2;
        font-weight: 400;
        color: #4f4e4e; 
        padding: 0 0 20px 0;       

        span {            
            font-weight: 700;
            padding: 0 0 5px 0;
            display: block;
        }
    }

    &__link {
        flex: 0 0 64px;
        cursor: auto;                   
        
        span {        
            font-size: 14px;    
            font-weight: 700;
            letter-spacing: 0.075em;
            color: #555555;
            cursor: pointer;
            position: relative;      

            &::after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 90px;
                height: 7px;
                background-color: transparent; 
                transition: all 0.1s ease 0s;
            }
            &:hover {            
                &::after {
                    background-color: #ff992b;     
                }
        }
        }        
        @media (max-width: 479.98px) {           
            flex: 0 0 44px;
        }
    }
}
// =====================================================================================================================================================================
.footer {    
}
.quote {
    background-color: #2a3b40;

    &__container {
        max-width: 740px;
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 47px 0 47px 0;
        @media (max-width: 767.98px) {           
            padding: 30px 0 30px 0;
        }
    }

    &__quotes {        
        font-size: 84px;        
        font-weight: 700;
        color: #ffffff;
        @media (max-width: 767.98px) {           
            font-size: 75px;
        }       
    }

    &__text {        
        font-size: 19px;
        line-height: 33px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        padding: 0 0 30px 0;
    }

    &__author {        
        font-size: 19px;        
        font-weight: 700;
        color: #ffffff;
        padding: 0 0 40px 0;
    }

    &__media {
        display: flex;
        justify-content: space-between;        
    }

    &__image {                
        padding: 0 25px 0 0;
        &:last-child {
            padding: 0;
        }
        @media (max-width: 479.98px) {           
            padding: 0 12px 0 0;
        }
    }
}
// =====================================================================================================================================================================
.back-to-top {
    position: fixed;
    bottom: 5px;
    left: 40px;
    width: 50px;
    height: 50px;    
    border-radius: 50%;
    background-color: #eee;
    cursor: pointer;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 40px;  
    transition: all 0.2s ease 0s;
    &:hover {
        background-color: #316574;
    }  

    &.js-show {
        display: flex;
    }

    img {
        max-width: 70%;
    }
}  
// =====================================================================================================================================================================
